/* #ac193d; *100%*/
/* #c55e77; *70%*/
/* #d58c9e; *50%*/
/* #e6bac4; *30%*/
/* #f7e8eb; *10%*/

.header{background-color:#d58c9e;}
.header .logo-menu{background-color:#ac193d;}
.header .logo-menu h1{color:#fff;}

.menu li.selected{background-color:#c55e77;}
.menu li a:hover{background-color:#c55e77;}

#switchSkin{border:#ac193d 1px solid;border-top:0;background-color:#c55e77;}
#uploadFiles{border:#ac193d 1px solid;border-top:0;background-color:#c55e77;}
#uploadFiles ul li.btn input{background-color:#c55e77;border:#ac193d 1px solid;}


#dataArea th{background-color:#c55e77;color:#fff;}
#dataArea td{background-color:#f7e8eb;}
#dataArea h3{color:#ac193d;}

.changeDate a.date:link{background:#fff url(../images/date_crimson.gif) no-repeat center 0;}
.changeDate a.date:visited{background:#fff url(../images/date_crimson.gif) no-repeat center 0;}
.changeDate a.date:hover{background:#ac193d url(../images/date_crimson.gif) no-repeat center -25px;}
.changeDate a.date:active{background:#fff url(../images/date_crimson.gif) no-repeat center 0;}
#dateList .evenDate{background-color:#f7e8eb;}

#leftBar{background-color:#f7e8eb;}
#leftBar li a{background-image:url(../images/list_crimson.gif);}
#leftBar li.selected a:link{background-color:#c55e77;}
#leftBar li.selected a:visited{background-color:#c55e77;}
#leftBar li.selected a:hover{background-color:#c55e77;}
#leftBar li.selected a:active{background-color:#c55e77;}

#leftBar li a:link{background-color:#f7e8eb}
#leftBar li a:visited{background-color:#f7e8eb;}
#leftBar li a:hover{background-color:#c55e77;}
#leftBar li a:active{background-color:#f7e8eb;}

.box h3{background-color:#c55e77;color:#fff;}
.box h3 a:link{background-color:#c55e77;}
.box h3 a:visited{background-color:#c55e77;}
.box h3 a:hover{background-color:#ac193d;}
.box h3 a:active{background-color:#c55e77;}

.jspDrag{background: #e6bac4;}
.jspArrow{background-color: #c55e77;}
.jspArrow.jspDisabled{background-color: #d58c9e;}

